body{margin:0 auto;max-width:700px;position:relative;}
body{padding:0;font:14px weiruanyahei,FZYQJW,"微软雅黑",Tahoma,"\534E\6587\5B8B\4F53",arial;background-color: #c04d3b;}
ul,ul li,ol,ol li,dl,dl dd,h3,h4,p,hr{list-style:none;margin:0;padding:0;}
img{-webkit-transform:translate3d(0,0,0);}

.head img{width:100%;}
.box{padding:30px 10px 14px;}
.box .list{background:#fff;position:relative;padding:0 0 20px 64px;}
.box .list:before,.box .list:after{display:block;content:'';width:100%;height:4px;position:absolute;left:0;top:-4px;background:url('//qa-h5.mtq.tvm.cn/yao/git_common/img/list_top.png') repeat-x;background-size:auto 100%;}
.box .list:after{top:auto;bottom:-4px;background:url('//qa-h5.mtq.tvm.cn/yao/common/img/list_bottom.png') repeat-x;background-size:auto 100%;}
.box .list li{border-bottom:1px solid #e9e9e9;min-height:70px;box-sizing:border-box;padding:12px 10px 12px 0;position:relative;display:inline-block;width:100%;}
.box .list li>img{float:left;width:44px;height:44px;border-radius:50%;position:absolute;left:-54px;top:12px;}
.box .list li p{color:#52649a;line-height:22px;}
.box .list li p:nth-child(2){overflow:hidden;height:22px;}
.box .list li p>font{max-width:70px;vertical-align:top;}
.box .list li span{color:#979797;font-size:12px;}
.box .list li span.right{float:right;}
.box .list li span.red{color:#da2d1e;max-width:48%;padding-top:1px;}
.box .list li span.country{padding-top:1px;max-width:50px;}
.box .list li span.red,.box .list li span.country,.box .list li p>font{white-space: nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;}

.quesheng{padding:70px 10px 50px 10px;box-sizing:border-box;margin-left:-64px;text-align:center;color:#666;}

@-webkit-keyframes loading{
	to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes loading{
	to{-moz-transform:rotate(360deg);}
}
@keyframes loading{
	to{transform:rotate(360deg);}
}
.loading {
  width: 5px;
  height: 5px;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0 -10px 0 0 #000,10px 0px 0 #C0C0C0,0 10px 0 0 #808080,-10px 0 0 #404040, -7px -7px 0 0 #202020,7px -7px 0 #C0C0C0,7px 7px 0 0 #A0A0A0,-7px 7px 0 #606060;
  -webkit-animation: loading 1s steps(8,end) infinite;
  animation: loading 1s steps(8,end) infinite;
  -moz-animation: loading 1s steps(8,end) infinite;
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 100000;
  display: none;
}