/*弹幕所需样式*/
.danmu {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    z-index: 1000;
    position: absolute;
}
.dmFly{
    width: 200px;
    height: 160px;
    position: absolute;
    left: 100%;
    z-index: 1001;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
.flyLeft .head {
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
}
.head img {
    width: 30px;
    height: 30px;
}
.flyLeft .description {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #ffad0d;
}
.d_img {
    width: 110px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}